import PropTypes from "prop-types";

const {{pascalCase name}} = () => {
  return (
    <div>{{pascalCase name}}</div>
  );
};

{{pascalCase name}}.propTypes = {
};

export default {{pascalCase name}};
