@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-image-fade {
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 1rem,
    black 2rem,
    black calc(100% - 2rem),
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 5%,
    black 10%,
    black 90%,
    transparent 95%
  );
}

@layer utilities {
  .text-shadow-4 {
    text-shadow: 4px 4px rgb(0 0 0 / 0.2);
  }

  .text-shadow-2 {
    text-shadow: 2px 2px rgb(0 0 0 / 0.2);
  }
}
